@model SelectExample.ViewModel.CustomerCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Customer.FirstName" class="control-label"></label>
                <input asp-for="@Model.Customer.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.LastName" class="control-label"></label>
                <input asp-for="@Model.Customer.LastName" class="form-control" />
                <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.EmailId" class="control-label"></label>
                <input asp-for="@Model.Customer.EmailId" class="form-control" />
                <span asp-validation-for="@Model.Customer.EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.CountryCode" class="control-label"></label>
                <select id="lstCountry" asp-for="@Model.Customer.CountryCode" class ="form-control" asp-items="@Model.Countries">
                    <option value ="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Customer.CityCode" class="control-label"></label>
                <select id="lstCity" asp-for="@Model.Customer.CityCode" class ="form-control" asp-items="@Model.Cities">
                    <option value ="">Select City</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
$(document).ready(function() 
{
    $('#lstCountry').change(function() {

        var selectedCountry = $('#lstCountry').val();

        var citySelect = $('#lstCity');
        citySelect.empty();

        if (selectedCountry != null &&
            selectedCountry != '') {
            $.getJSON('@Url.Action("GetCities")', { CountryCode: selectedCountry }, function(cities) {
                if (cities != null && !jQuery.isEmptyObject(cities)) {
                    citySelect.append($('<option/>', {
                        value: null,
                        text: "Select City"
                    }));

                    $.each(cities, function(index, city) {
                        citySelect.append($('<option/>', {

                            value: city.value,
                            text: city.text
                        }));
                    });
                };
            });
        };
    });
    
});
    </script>

   


}
